@charset "UTF-8";

.search-box {
	padding-top: 30px;
	width: 45%;
	margin: 0px auto;
}

.stats {
	padding-top: 30px;
	margin: 0px auto;
}

.entitydisplay {
	font-size: xxx-large;
	font-family: sans-serif;
}

.entitydesc {
	font-style: italic;
}

.entitydata {
	padding-top: 30px;
}

.datacardtext {
	text-align: center;
}

.cardpartition {
	height: 40px;
}

.spinpos {
	position: absolute;
	top: 44%;
	right: 50%;
}

.detail-cards {
	margin: 0px auto;
}

.safe-country-name {
	height: 100px;
	text-align: left;
}

.error-fetch {
	background-color: #E5E7E9;
	border-radius: 20px;
}

.error-text {
	margin: 0px auto;
}

footer {
	background-color: #FDFEFE;
	position: fixed;
	left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    padding: 10px;
    /* margin-top: 20px; */
}

.extra-space {
	height: 50px;
}
